{% extends 'layouts/main.html' %}
{% block title %} FIFA world cup 18{% endblock %}
{% block content %}

<div class="page-header">
    <h1>Groups <a href="/get_tournament"><button type="button" class="btn btn-primary">simulate again</button></a> </h1>
</div>

    <div class="container" id="group_table" >
        <div class="row">
            <div class="col">
                <table>
                    <tr><td>Group A </td><td></td><td>
                        <button type="button" class="btn btn-sm" data-toggle="modal" data-target="#modal_a" style="color:#f3f3f3" id="btndt_a">
                            <p style="color: #000;">details</p>
                        </button></td></tr>
                </table>
                <table id="table_ga">

                </table>
            </div>
            <div class="col">
                 <table>
                    <tr><td>Group B</td><td></td><td>
                        <button type="button" class="btn btn-sm" data-toggle="modal" data-target="#modal_b" style="color:#f3f3f3"  id="btndt_b">
                            <p style="color: #000;">details</p>
                        </button></td></tr>
                 </table>
                <table id="table_gb">

                </table>
                </table>
            </div>
            <div class="col">
                 <table>
                    <tr><td>Group C</td><td></td><td>
                        <button type="button" class="btn btn-sm" data-toggle="modal" data-target="#modal_c" style="color:#f3f3f3"  id="btndt_c">
                            <p style="color: #000;">details</p>
                        </button></td></tr>
                    </table>
                <table id="table_gc">

                </table>
            </div>
            <div class="col">
                 <table>
                    <tr><td>Group D</td><td></td><td>
                        <button type="button" class="btn btn-sm" data-toggle="modal" data-target="#modal_d" style="color:#f3f3f3;"  id="btndt_d">
                            <p style="color: #000;">details</p>
                        </button></td></tr>
                 </table>
                <table id="table_gd">

                </table>
            </div>
        </div>
        <br>
        <br>
    <div class="row">
            <div class="col">
                 <table>
                    <tr><td>Group E</td><td></td><td>
                        <button type="button" class="btn btn-sm" data-toggle="modal" data-target="#modal_e" style="color:#f3f3f3; none"  id="btndt_e">
                            <p style="color: #000;">details</p>
                        </button></td></tr>
                    </table>
                <table id="table_ge">

                </table>
            </div>
            <div class="col">
                 <table>
                    <tr><td>Group F</td><td></td><td>
                        <button type="button" class="btn btn-sm" data-toggle="modal" data-target="#modal_f" style="color:#f3f3f3"  id="btndt_f">
                            <p style="color: #000;">details</p>
                        </button></td></tr>
                    </table>
                <table id="table_gf">
                </table>
            </div>
            <div class="col">
                 <table>
                    <tr><td>Group G</td><td></td><td>
                        <button type="button" class="btn btn-sm" data-toggle="modal" data-target="#modal_g" style="color:#f3f3f3"  id="btndt_g">
                            <p style="color: #000;">details</p>
                        </button></td></tr>
                    </table>
                <table id="table_gg">
                </table>
            </div>
            <div class="col">
                 <table>
                    <tr><td>Group H</td><td></td><td>
                        <button type="button" class="btn btn-sm" data-toggle="modal" data-target="#modal_h" style="color:#f3f3f3"  id="btndt_h">
                            <p style="color: #000;">details</p>
                        </button></td></tr>
                    </table>
                <table id="table_gh">
                </table>
            </div>
        </div>
    </div>
    <br><br><br>
    <div class="page-header">
        <h1>Matchplan <button type="button" class="btn btn-primary" onclick="setTimeout(start_show, 3000)">PLAY</button></h1>

    </div>
    <div id="match_plan" style="font-size: large">
        <div class="row">
            <div class="col" id="A1">{{ onea }}<img src="/static/img/{{ onea }}.png" width="50" height="25"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col" id="B1"><img src="/static/img/{{ oneb }}.png" width="50" height="25">{{ oneb }}</div>
        </div>
        <div class="row">
            <div class="col"></div>
            <div class="col" id="WA1B2"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col" id="WB1A2"></div>
            <div class="col"></div>
        </div>
        <div class="row">
            <div class="col" id="B2">{{ twob }}<img src="/static/img/{{ twob }}.png" width="50" height="25"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col" id="A2"><img src="/static/img/{{ twoa }}.png" width="50" height="25">{{ twoa }}</div>
        </div>
        <div class="row">
            <div class="col"></div>
            <div class="col"></div>
            <div class="col" id="SEM1"></div>
            <div class="col"></div>
              <div class="col" id="sem2"></div>
            <div class="col"></div>
            <div class="col"></div>
        </div>
        <div class="row">
            <div class="col" id="C1">{{ onec }}<img src="/static/img/{{ onec }}.png" width="50" height="25"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col" id="D1"><img src="/static/img/{{ oned }}.png" width="50" height="25">{{ oned }}</div>
        </div>
        <div class="row">
            <div class="col"></div>
            <div class="col" id="WC1D2"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col" id="WD1C2"></div>
            <div class="col"></div>
        </div>
        <div class="row">
            <div class="col" id="D2">{{ twod }}<img src="/static/img/{{ twod }}.png" width="50" height="25"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col" id="C2"><img src="/static/img/{{ twoc }}.png" width="50" height="25">{{ twoc }}</div>
        </div>
        <div class="row">
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col" id="FINAL">
                <table>
                    <tr id ="FINAL1"></tr><br>
                    <tr id ="FINAL2"></tr>
                </table>
            </div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
        </div>
        <div class="row">
            <div class="col" id="E1">{{ onee }}<img src="/static/img/{{ onee }}.png" width="50" height="25"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col" id="F1"><img src="/static/img/{{ onef }}.png" width="50" height="25">{{ onef }}</div>
        </div>
        <div class="row">
            <div class="col"></div>
            <div class="col" id="WE1F2"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col" id="WF1E2"></div>
            <div class="col"></div>
        </div>
        <div class="row">
            <div class="col" id="F2">{{ twof }}<img src="/static/img/{{ twof }}.png" width="50" height="25"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col" id="E2"><img src="/static/img/{{ twoe }}.png" width="50" height="25">{{ twoe }}</div>
        </div>
        <div class="row">
            <div class="col"></div>
            <div class="col"></div>
            <div class="col" id="SEMI3"></div>
            <div class="col"></div>
              <div class="col" id="SEMI4"></div>
            <div class="col"></div>
            <div class="col"></div>
        </div>
        <div class="row">
            <div class="col" id="G1">{{ oneg }}<img src="/static/img/{{ oneg }}.png" width="50" height="25"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col" id="H1"><img src="/static/img/{{ oneh }}.png" width="50" height="25">{{ oneh }}</div>
        </div>
        <div class="row">
            <div class="col"></div>
            <div class="col" id="WG1H2"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col" id="WH1G2"></div>
            <div class="col"></div>
        </div>
        <div class="row">
            <div class="col" id="h2">{{ twoh }}<img src="/static/img/{{ twoh }}.png" width="50" height="25"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col" id="g2"><img src="/static/img/{{ twog }}.png" width="50" height="25">{{ twog }}</div>
        </div>
        <div class="row">
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col" id="SEMI">
                <table>
                    <tr id="WINNER"></tr>
                </table>
            </div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
        </div>
    </div>
    <br><br><br>
    <div class="page-header">
    <h1>Statistics</h1>
    </div>
    <div id="statisitcs"></div>
    <br><br><br>

    <div class="page-header">
        <h1>Adjust <button type="button" class="btn btn-primary" onclick="adjust_settings">PLAY</button></h1>

    </div>
    <div id="user_input">
        <div class="row">
            <div class="col"></div>
            <div class="col">
                <input id="slider1"  type="range" />
                <input id="slider1"  type="range" />
                <input id="slider1"  type="range" />
            </div>
        </div>
    </div>



    <!--- MODALS---->
    <div class="modal" id="modal_a">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">detail results: group a</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body" id="content_ga">
                    {{ groupa|safe }}
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>
     <div class="modal" id="modal_b">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">detail results: group b</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    {{ groupb|safe }}
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>
     <div class="modal" id="modal_c">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">detail results: group c</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    {{ groupc|safe }}
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>
     <div class="modal" id="modal_d">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">detail results: group d</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    {{ groupd|safe }}
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>
     <div class="modal" id="modal_e">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">detail results: group e</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    {{ groupe|safe }}
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>
     <div class="modal" id="modal_f">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">detail results: group f</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    {{ groupf|safe }}
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>
     <div class="modal" id="modal_g">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">detail results: group g</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    {{ groupg|safe }}
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>
     <div class="modal" id="modal_h">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">detail results: group h</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    {{ grouph|safe }}
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>


    <script>
        $(document).ready(function () {
            // fill static groups
            $("#A1").html(get_conchtml_table("RUS", ""));
            $("#A2").html(get_conchtml_table("KSA", ""));
            $("#A3").html(get_conchtml_table("EGY", ""));
            $("#A4").html(get_conchtml_table("URU", ""));

            $("#B1").html(get_conchtml_table("POR", ""));
            $("#B2").html(get_conchtml_table("ESP", ""));
            $("#B3").html(get_conchtml_table("MAR", ""));
            $("#B4").html(get_conchtml_table("IRN", ""));

            $("#C1").html(get_conchtml_table("FRA", ""));
            $("#C2").html(get_conchtml_table("AUS", ""));
            $("#C3").html(get_conchtml_table("PER", ""));
            $("#C4").html(get_conchtml_table("DEN", ""));

            $("#D1").html(get_conchtml_table("ARG", ""));
            $("#D2").html(get_conchtml_table("ISL", ""));
            $("#D3").html(get_conchtml_table("CRO", ""));
            $("#D4").html(get_conchtml_table("NGA", ""));

            $("#E1").html(get_conchtml_table("BRA", ""));
            $("#E2").html(get_conchtml_table("SUI", ""));
            $("#E3").html(get_conchtml_table("CRC", ""));
            $("#E4").html(get_conchtml_table("SRB", ""));

            $("#F1").html(get_conchtml_table("GER", ""));
            $("#F2").html(get_conchtml_table("MEX", ""));
            $("#F3").html(get_conchtml_table("SWE", ""));
            $("#F4").html(get_conchtml_table("KOR", ""));

            $("#G1").html(get_conchtml_table("BEL", ""));
            $("#G2").html(get_conchtml_table("PAN", ""));
            $("#G3").html(get_conchtml_table("TUN" , ""));
            $("#G4").html(get_conchtml_table("ENG", ""));

            $("#H1").html(get_conchtml_table("POL", ""));
            $("#H2").html(get_conchtml_table("SEN", ""));
            $("#H3").html(get_conchtml_table("COL", ""));
            $("#H4").html(get_conchtml_table("JPN", ""));

            var table_data = {{ group_table_total |safe  }};    

            $("#table_ga").html(makeTableHTML(table_data.A));
            $("#table_gb").html(makeTableHTML(table_data.B));
            $("#table_gc").html(makeTableHTML(table_data.C));
            $("#table_gd").html(makeTableHTML(table_data.D));
            $("#table_ge").html(makeTableHTML(table_data.E));
            $("#table_gf").html(makeTableHTML(table_data.F));
            $("#table_gg").html(makeTableHTML(table_data.G));
            $("#table_gh").html(makeTableHTML(table_data.H));


        });
    
    function get_conchtml_table(team_ini, points) {
        return '<td><img src=\"/static/img/' +team_ini+ '.png\" width=\"30\" height=\"10\"></td><td>'+team_ini+' </td><td>'+points+'</td>';
    }

    function get_conchtml_plan(team_ini, points) {
        return '<td><img src=\"/static/img/' +team_ini+ '.png\" width=\"30\" height=\"10\"></td><td>'+team_ini+' </td>';
    }

    function start_show() {
    }
    function load_gtables() {
        show_buttons();
    }

    function adjust_settings() {

    }
    function show_buttons() {
        $("#btndt_a").show()
        $("#btndt_b").show()
        $("#btndt_c").show()
        $("#btndt_d").show()
        $("#btndt_e").show()
        $("#btndt_f").show()
        $("#btndt_g").show()
        $("#btndt_h").show()

    }



    function makeTableHTML(myArray) {
    var result = '<table border=1>';
    for(var i=0; i<myArray.length; i++) {
        result += "<tr>";
        for(var j=0; j<myArray[i].length; j++){
            if (j==0){result+='<td><img src="/static/img/' +myArray[i][0]+ '.png" width=30 height=10>'}
            result += "<td>"+myArray[i][j]+"</td>";
        }
        result += "</tr>";
    }
    result += "</table>";

    return result;
}






    </script>
{% endblock %}
