{% extends 'layouts/main.html' %}
{% block title %} FIFA world cup 18{% endblock %}
{% block content %}


<style>
table {
    border-bottom: 1px solid #ddd;
    text-align: center


}
table:hover {background-color: #f5f5f5;}
.btnbtn-sm{

  -webkit-border-radius: 45;
  -moz-border-radius: 45;
  border-radius: 45px;
  font-family: Arial;
  color: #ffffff;
  font-size: 14px;
  background: #d3d3d3;
  text-decoration: none;

}

.btnbtn-sm:hover{
  background: #bebebe;
  text-decoration: none;
}


</style>
<div class="page-header">
    <h1>Groups <a href="/"><button type="button" class="btn btn-primary">simulate again</button></a> </h1>
</div>

    <div class="container" id="group_table" >
        <div class="row">
            <div class="col">
                <table>
                    <tr><td>Group A </td><td></td><td>
                        <button type="button" class="btnbtn-sm" data-toggle="modal" data-target="#modal_a" style="color:#f3f3f3" id="btndt_a">
                            <p style="color: #000;">details</p>
                        </button></td></tr>
                </table>
                <table id="table_ga">

                </table>
            </div>
            <div class="col">
                 <table>
                    <tr><td>Group B</td><td></td><td>
                        <button type="button" class="btnbtn-sm" data-toggle="modal" data-target="#modal_b" style="color:#f3f3f3"  id="btndt_b">
                            <p style="color: #000;">details</p>
                        </button></td></tr>
                 </table>
                <table id="table_gb">

                </table>
                </table>
            </div>
            <div class="col">
                 <table>
                    <tr><td>Group C</td><td></td><td>
                        <button type="button" class="btnbtn-sm" data-toggle="modal" data-target="#modal_c" style="color:#f3f3f3"  id="btndt_c">
                            <p style="color: #000;">details</p>
                        </button></td></tr>
                    </table>
                <table id="table_gc">

                </table>
            </div>
            <div class="col">
                 <table>
                    <tr><td>Group D</td><td></td><td>
                        <button type="button" class="btnbtn-sm" data-toggle="modal" data-target="#modal_d" style="color:#f3f3f3;"  id="btndt_d">
                            <p style="color: #000;">details</p>
                        </button></td></tr>
                 </table>
                <table id="table_gd">

                </table>
            </div>
        </div>
        <br>
        <br>
    <div class="row">
            <div class="col">
                 <table>
                    <tr><td>Group E</td><td></td><td>
                        <button type="button" class="btnbtn-sm" data-toggle="modal" data-target="#modal_e" style="color:#f3f3f3; none"  id="btndt_e">
                            <p style="color: #000;">details</p>
                        </button></td></tr>
                    </table>
                <table id="table_ge">

                </table>
            </div>
            <div class="col">
                 <table>
                    <tr><td>Group F</td><td></td><td>
                        <button type="button" class="btnbtn-sm" data-toggle="modal" data-target="#modal_f" style="color:#f3f3f3"  id="btndt_f">
                            <p style="color: #000;">details</p>
                        </button></td></tr>
                    </table>
                <table id="table_gf">
                </table>
            </div>
            <div class="col">
                 <table>
                    <tr><td>Group G</td><td></td><td>
                        <button type="button" class="btnbtn-sm" data-toggle="modal" data-target="#modal_g" style="color:#f3f3f3"  id="btndt_g">
                            <p style="color: #000;">details</p>
                        </button></td></tr>
                    </table>
                <table id="table_gg">
                </table>
            </div>
            <div class="col">
                 <table>
                    <tr><td>Group H</td><td></td><td>
                        <button type="button" class="btnbtn-sm" data-toggle="modal" data-target="#modal_h" style="color:#f3f3f3"  id="btndt_h">
                            <p style="color: #000;">details</p>
                        </button></td></tr>
                    </table>
                <table id="table_gh">
                </table>
            </div>
        </div>
    </div>
    <br><br><br>
    <div class="page-header">
        <h1>Matchplan</h1>

    </div>
    <div id="match_plan" style="font-size: large">
        <div class="row">
            <div class="col" id="A1">{{ onea }}<img src="/static/img/{{ onea }}.png" width="50" height="25" style="padding-left: 5px; padding-right: 5px"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col" id="B1"><img src="/static/img/{{ oneb }}.png" width="50" height="25" style="padding-left: 5px; padding-right: 5px">{{ oneb }}</div>
        </div>
        <div class="row">
            <div class="col"></div>
            <div class="col" id="WA1B2"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col" id="WB1A2"></div>
            <div class="col"></div>
        </div>
        <div class="row">
            <div class="col" id="B2">{{ twob }}<img src="/static/img/{{ twob }}.png" width="50" height="25" style="padding-left: 5px; padding-right: 5px"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col" id="A2"><img src="/static/img/{{ twoa }}.png" width="50" height="25" style="padding-left: 5px; padding-right: 5px">{{ twoa }}</div>
        </div>
        <div class="row">
            <div class="col"></div>
            <div class="col"></div>
            <div class="col" id="SEM1"></div>
            <div class="col"></div>
              <div class="col" id="sem2"></div>
            <div class="col"></div>
            <div class="col"></div>
        </div>
        <div class="row">
            <div class="col" id="C1">{{ onec }}<img src="/static/img/{{ onec }}.png" width="50" height="25" style="padding-left: 5px; padding-right: 5px"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col" id="D1"><img src="/static/img/{{ oned }}.png" width="50" height="25" style="padding-left: 5px; padding-right: 5px">{{ oned }}</div>
        </div>
        <div class="row">
            <div class="col"></div>
            <div class="col" id="WC1D2"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col" id="WD1C2"></div>
            <div class="col"></div>
        </div>
        <div class="row">
            <div class="col" id="D2">{{ twod }}<img src="/static/img/{{ twod }}.png" width="50" height="25" style="padding-left: 5px; padding-right: 5px"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col" id="C2"><img src="/static/img/{{ twoc }}.png" width="50" height="25" style="padding-left: 5px; padding-right: 5px">{{ twoc }}</div>
        </div>
        <div class="row">
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col" id="FINAL">
                    <div id ="FINAL1"></div><br>
                    <div id ="FINAL2"></div>
            </div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
        </div>
        <div class="row">
            <div class="col" id="E1">{{ onee }}<img src="/static/img/{{ onee }}.png" width="50" height="25" style="padding-left: 5px; padding-right: 5px"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col" id="F1"><img src="/static/img/{{ onef }}.png" width="50" height="25" style="padding-left: 5px; padding-right: 5px">{{ onef }}</div>
        </div>
        <div class="row">
            <div class="col"></div>
            <div class="col" id="WE1F2"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col" id="WF1E2"></div>
            <div class="col"></div>
        </div>
        <div class="row">
            <div class="col" id="F2">{{ twof }}<img src="/static/img/{{ twof }}.png" width="50" height="25" style="padding-left: 5px; padding-right: 5px"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col" id="E2"><img src="/static/img/{{ twoe }}.png" width="50" height="25" style="padding-left: 5px; padding-right: 5px">{{ twoe }}</div>
        </div>
        <div class="row">
            <div class="col"></div>
            <div class="col"></div>
            <div class="col" id="SEMI3"></div>
            <div class="col"></div>
              <div class="col" id="SEMI4"></div>
            <div class="col"></div>
            <div class="col"></div>
        </div>
        <div class="row">
            <div class="col" id="G1">{{ oneg }}<img src="/static/img/{{ oneg }}.png" width="50" height="25" style="padding-left: 5px; padding-right: 5px"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col" id="H1"><img src="/static/img/{{ oneh }}.png" width="50" height="25" style="padding-left: 5px; padding-right: 5px">{{ oneh }}</div>
        </div>
        <div class="row">
            <div class="col"></div>
            <div class="col" id="WG1H2"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col" id="WH1G2"></div>
            <div class="col"></div>
        </div>
        <div class="row">

            <div class="col" id="h2">{{ twoh }}<img src="/static/img/{{ twoh }}.png" width="50" height="25" style="padding-left: 5px; padding-right: 5px"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col" id="g2"><img src="/static/img/{{ twog }}.png" width="50" height="25" style="padding-left: 5px; padding-right: 5px">{{ twog }}</div>
        </div>
        <div class="row">
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col">
                <table>
                    <tr id="WINNER"></tr>
                </table>
            </div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
        </div>
    </div>
    <br><br><br>
    <div class="page-header">

    </div>
    

    <br>
    <style>
 
            .bar {
              fill: steelblue;
            }
             
            .bar:hover {
              fill: brown;
            }
             
            .axis {
              font: 10px sans-serif;
            }
             
            .axis path,
            .axis line {
              fill: none;
              stroke: #000;
              shape-rendering: crispEdges;
            }
             
            .x.axis path { 
              fill: none;
              stroke: #000;
              shape-rendering: crispEdges;
            }
             
        </style>
    <div id='bar-chart-power'></div>
    <div id="bar-chart-no-power"></div>
        <script>
 
            var margin = {top: 20, right: 20, bottom: 50, left: 80},
                //width = 960 - margin.left - margin.right,
                width = d3.select('#group_table')[0][0].clientWidth- margin.left - margin.right,
                height = 400 - margin.top - margin.bottom;
             
            var x = d3.scale.ordinal()
                .rangeRoundBands([0, width], .1);
             
            var y = d3.scale.linear()
                .range([height, 0 + margin.top ]);
             
            var xAxis = d3.svg.axis()
                .scale(x)
                .orient("bottom");
             
            var yAxis = d3.svg.axis()
                .scale(y)
                .orient("left")
                .ticks(10); //  .ticks(10, "%");
             
            var svg = d3.select("#bar-chart-power").append("svg")
                .attr("width", width + margin.left + margin.right)
                .attr("height", height + margin.top + margin.bottom)
                .append("g")
                .attr("transform", "translate(" + margin.left + "," + margin.top + ")");


            var data = [
                {'country': 'ARG', 'wins': 1382},
                {'country': 'BRA', 'wins': 1367},
                {'country': 'ESP', 'wins': 1052},
                {'country': 'ENG', 'wins': 987},
                {'country': 'POR', 'wins': 986},
                {'country': 'GER', 'wins': 790},
                {'country': 'FRA', 'wins': 778},
                {'country': 'BEL', 'wins': 481},
                {'country': 'RUS', 'wins': 472},
                {'country': 'CRO', 'wins': 344},
                {'country': 'SUI', 'wins': 325},
                {'country': 'COL', 'wins': 148},
                {'country': 'POL', 'wins': 110},
                {'country': 'URU', 'wins': 102},
                {'country': 'SRB', 'wins': 95},
                {'country': 'MEX', 'wins': 91},
                {'country': 'DEN', 'wins': 84},
                {'country': 'JPN', 'wins': 81},
                {'country': 'SWE', 'wins': 65},
                {'country': 'KOR', 'wins': 64},
                {'country': 'NGA', 'wins': 35},
                {'country': 'KSA', 'wins': 27},
                {'country': 'IRN', 'wins': 24},
                {'country': 'AUS', 'wins': 20},
                {'country': 'SEN', 'wins': 20},
                {'country': 'CRC', 'wins': 19},
                {'country': 'TUN', 'wins': 16},
                {'country': 'EGY', 'wins': 10},
                {'country': 'MAR', 'wins': 10},
                {'country': 'PAN', 'wins': 6},
                {'country': 'ISL', 'wins': 5},
                {'country': 'PER', 'wins': 3}
            ]

            x.domain(data.map(function(d) { return d.country; }));
            y.domain([0, d3.max(data, function(d) { return d.wins; })]);
             
            svg.append("g")
                .attr("class", "x axis")
                .attr("transform", "translate(0," + height + ")")
                .call(xAxis)
                .selectAll("text")  
                .style("text-anchor", "end")
                .attr("dx", "-.8em")
                .attr("dy", ".15em")
                .attr("transform", "rotate(-65)" )
                .append("text")             // text label for the x axis
                .attr("x", (width / 2) )
                .attr("y",  20 )
                .attr("dy", "1em")
                .style("text-anchor", "middle")
                .style("font-size", "16px") 
                .text("TEAMS");
                    
             // add y-axis
            svg.append("g")
                .attr("class", "y axis")
                .call(yAxis)
                .append("text") // and text1
                .attr("y", 6)
                .attr("dy", ".71em")
                .style("text-anchor", "end")
                .style("font-size", "16px") 
                .text("Wins");
             
            svg.selectAll(".bar")
                .data(data)
                .enter().append("rect")
                .attr("class", "bar")
                .attr("x", function(d) { return x(d.country); })
                .attr("width", x.rangeBand())
                .attr("y", function(d) { return y(d.wins); })
                .attr("height", function(d) { return height - y(d.wins); });


            // add a title
            svg.append("text")
                    .attr("x", (width / 2))             
                    .attr("y", 0 + (margin.top / 2))
                    .attr("text-anchor", "middle")  
                    .style("font-size", "24px") 
                    //.style("text-decoration", "underline")  
                    .text("Wins per Team (10000 Tounament Simulations) with Power Ranking");             
        </script>

        <script>
 
        var margin = {top: 20, right: 20, bottom: 50, left: 80},
            //width = 960 - margin.left - margin.right,
            width = d3.select('#group_table')[0][0].clientWidth- margin.left - margin.right,
            height = 400 - margin.top - margin.bottom;
         
        var x = d3.scale.ordinal()
            .rangeRoundBands([0, width], .1);
         
        var y = d3.scale.linear()
            .range([height, 0 + margin.top ]);
         
        var xAxis = d3.svg.axis()
            .scale(x)
            .orient("bottom");
         
        var yAxis = d3.svg.axis()
            .scale(y)
            .orient("left")
            .ticks(10); //  .ticks(10, "%");
         
        var svg = d3.select("#bar-chart-no-power").append("svg")
            .attr("width", width + margin.left + margin.right)
            .attr("height", height + margin.top + margin.bottom)
            .append("g")
            .attr("transform", "translate(" + margin.left + "," + margin.top + ")");


        var data_no_power_ranking = [
            {'country': 'BRA', 'wins': 1248},
            {'country': 'ARG', 'wins': 1101},
            {'country': 'GER', 'wins': 952},
            {'country': 'RUS', 'wins': 887},
            {'country': 'ENG', 'wins': 709},
            {'country': 'POR', 'wins': 687},
            {'country': 'FRA', 'wins': 614},
            {'country': 'ESP', 'wins': 613},
            {'country': 'SUI', 'wins': 536},
            {'country': 'CRO', 'wins': 405},
            {'country': 'BEL', 'wins': 381},
            {'country': 'DEN', 'wins': 223},
            {'country': 'COL', 'wins': 193},
            {'country': 'SRB', 'wins': 175},
            {'country': 'URU', 'wins': 168},
            {'country': 'MEX', 'wins': 156},
            {'country': 'POL', 'wins': 105},
            {'country': 'SWE', 'wins': 104},
            {'country': 'KOR', 'wins': 99},
            {'country': 'AUS', 'wins': 91},
            {'country': 'IRN', 'wins': 87},
            {'country': 'JPN', 'wins': 86},
            {'country': 'KSA', 'wins': 81},
            {'country': 'CRC', 'wins': 64},
            {'country': 'NGA', 'wins': 57},
            {'country': 'SEN', 'wins': 36}, 
            {'country': 'TUN', 'wins': 32},
            {'country': 'PAN', 'wins': 31},
            {'country': 'EGY', 'wins': 26},
            {'country': 'MAR', 'wins': 22},
            {'country': 'ISL', 'wins': 16},
            {'country': 'PER', 'wins': 15} 
        ]

        x.domain(data_no_power_ranking.map(function(d) { return d.country; }));
        y.domain([0, d3.max(data_no_power_ranking, function(d) { return d.wins; })]);
         
        svg.append("g")
            .attr("class", "x axis")
            .attr("transform", "translate(0," + height + ")")
            .call(xAxis)
            .selectAll("text")  
            .style("text-anchor", "end")
            .attr("dx", "-.8em")
            .attr("dy", ".15em")
            .attr("transform", "rotate(-65)" )
            .append("text")             // text label for the x axis
            .attr("x", (width / 2) )
            .attr("y",  20 )
            .attr("dy", "1em")
            .style("text-anchor", "middle")
            .style("font-size", "16px") 
            .text("TEAMS");
                
         // add y-axis
        svg.append("g")
            .attr("class", "y axis")
            .call(yAxis)
            .append("text") // and text1
            .attr("y", 6)
            .attr("dy", ".71em")
            .style("text-anchor", "end")
            .style("font-size", "16px") 
            .text("Wins");
         
        svg.selectAll(".bar")
            .data(data_no_power_ranking)
            .enter().append("rect")
            .attr("class", "bar")
            .attr("x", function(d) { return x(d.country); })
            .attr("width", x.rangeBand())
            .attr("y", function(d) { return y(d.wins); })
            .attr("height", function(d) { return height - y(d.wins); });


        // add a title
        svg.append("text")
                .attr("x", (width / 2))             
                .attr("y", 0 + (margin.top / 2))
                .attr("text-anchor", "middle")  
                .style("font-size", "24px") 
                //.style("text-decoration", "underline")  
                .text("Wins per Team (10000 Tounament Simulations) without Power Ranking");
         
        </script>
            

    <br><br><br>

    <div>
        <h2>Random Forest Model Description</h2>
        <p>We are using multivariant Regression with a Random Forest Algorithm implemented in sklear to predict the score of a match based on historical performance of the two teams.</p>
        <ul>
            <lh>Features used [3 Variants - Short(10)|Mid(30)|Long(50)]:</lh>
            <li>Goals scored(Team1/Team2)</li>
            <li>Goals conceded(Team1/Team2)</li>
            <li>Goal difference</li>
            <li>Winpercentage total(Team1/Team2)</li>
            <li>Winpercentage against opponent (if available)</li>
        </ul>

        <h2>Power Ranking</h2>
        <ul>
            <li>Using a Feed Forward Neural Network to predict the influence of Players on the Performance of the Team</li>
            <li>Applying multiple PowerRankings of the qualified Teams</li>
            <li>Applying betting odds</li>
        </ul>

        <h2>Simulating the Tournament</h2>
        <ul>
            <li>Running a Monte Carlo Simulation of the official Schedule (10000 times)</li>
            <li>Draw allowed in Group Stage - In Eleimination ROund we roll the Dice because we are missing penalty Data</li>
        </ul>
    </div>





    <!--- MODALS---->
    <div class="modal" id="modal_a">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">detail results: group a</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body" id="content_ga">
                    {{ groupa|safe }}
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>
     <div class="modal" id="modal_b">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">detail results: group b</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    {{ groupb|safe }}
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>
     <div class="modal" id="modal_c">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">detail results: group c</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    {{ groupc|safe }}
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>
     <div class="modal" id="modal_d">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">detail results: group d</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    {{ groupd|safe }}
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>
     <div class="modal" id="modal_e">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">detail results: group e</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    {{ groupe|safe }}
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>
     <div class="modal" id="modal_f">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">detail results: group f</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    {{ groupf|safe }}
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>
     <div class="modal" id="modal_g">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">detail results: group g</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    {{ groupg|safe }}
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>
     <div class="modal" id="modal_h">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">detail results: group h</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    {{ grouph|safe }}
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>


    <script>
        $(document).ready(function () {
            populateEliminationRound();
            // fill static groups
            var table_data = {{ group_table_total |safe  }};    
            table_data = {{ group_table_total |safe  }}

            $("#table_ga").html(makeTableHTML(table_data.A));
            $("#table_gb").html(makeTableHTML(table_data.B));
            $("#table_gc").html(makeTableHTML(table_data.C));
            $("#table_gd").html(makeTableHTML(table_data.D));
            $("#table_ge").html(makeTableHTML(table_data.E));
            $("#table_gf").html(makeTableHTML(table_data.F));
            $("#table_gg").html(makeTableHTML(table_data.G));
            $("#table_gh").html(makeTableHTML(table_data.H));

        });
    
    function get_conchtml_table(team_ini, points) {
        return '<td><img src=\"/static/img/' +team_ini+ '.png\" width=\"30\" height=\"10\"></td><td>'+team_ini+' </td><td>'+points+'</td>';
    }

    function get_conchtml_plan(team_ini, points) {
        return '<td><img src=\"/static/img/' +team_ini+ '.png\" width=\"30\" height=\"10\"></td><td>'+team_ini+' </td>';
    }

    function start_show() {
    }
    function load_gtables() {
        show_buttons();
    }

    function adjust_settings() {

    }
    function show_buttons() {
        $("#btndt_a").show()
        $("#btndt_b").show()
        $("#btndt_c").show()
        $("#btndt_d").show()
        $("#btndt_e").show()
        $("#btndt_f").show()
        $("#btndt_g").show()
        $("#btndt_h").show()
    }



    function makeTableHTML(myArray) {
    var result = '<table><tr><td>team</td><td></td><td>scored</td><td>conceded</td><td>points</td><tr>';
    for(var i=0; i<myArray.length; i++) {
        result += "<tr>";
        for(var j=0; j<myArray[i].length; j++){
            if (j==0){result+='<td><img src="/static/img/' +myArray[i][0]+ '.png" width=30 height=10>'}
            result += "<td>"+myArray[i][j]+"</td>";
        }
        result += "</tr>";
    }
    result += "</table>";

    return result;
}

    var df_tree = {{ dataframe| safe }}

    function populateEliminationRound() {
        var df = {{ dataframe|safe }};

        var style_winner = "green";
        var style_looser = "firebrick"
        for (var i = 0; i < df.data.length; i++){

            if (df.data[i][0] == 'GAF1') {

                $('#A1').html($('#A1').html() + df.data[i][5].split('-')[0])
                $('#B2').html($('#B2').html() + df.data[i][5].split('-')[1])

                if (parseInt(df.data[i][5].split('-')[0]) > parseInt(df.data[i][5].split('-')[1])) {
                    $('#A1').css('background-color', style_winner)                    
                    $('#B2').css('background-color', style_looser)
                } else {
                    $('#A1').css('background-color', style_looser)
                    $('#B2').css('background-color', style_winner)
                }

                $('#A1').css('padding', '10px')
                $('#B2').css('padding', '10px')
            }
            if (df.data[i][0] == 'GAF2') {
                $('#C1').html($('#C1').html() + df.data[i][5].split('-')[0])
                $('#D2').html($('#D2').html() + df.data[i][5].split('-')[1])
                if (parseInt(df.data[i][5].split('-')[0]) > parseInt(df.data[i][5].split('-')[1])) {
                    $('#C1').css('background-color', style_winner)
                    $('#D2').css('background-color', style_looser)
                } else {
                    $('#C1').css('background-color', style_looser)
                    $('#D2').css('background-color', style_winner)
                }

                $('#C1').css('padding', '10px')
                $('#D2').css('padding', '10px')
            }
            if (df.data[i][0] == 'GAF3') {
                $('#B1').html($('#B1').html() + ' ' + df.data[i][5].split('-')[0])
                $('#A2').html($('#A2').html() + ' ' + df.data[i][5].split('-')[1])
                if (parseInt(df.data[i][5].split('-')[0]) > parseInt(df.data[i][5].split('-')[1])) {
                    $('#B1').css('background-color', style_winner)
                    $('#A2').css('background-color', style_looser)
                } else {
                    $('#B1').css('background-color', style_looser)
                    $('#A2').css('background-color', style_winner)
                }
                $('#B1').css('padding', '10px')
                $('#A2').css('padding', '10px')
            }
            if (df.data[i][0] == 'GAF4') {
                $('#D1').html($('#D1').html() + ' ' + df.data[i][5].split('-')[0])
                $('#C2').html($('#C2').html() + ' ' + df.data[i][5].split('-')[1])
                if (parseInt(df.data[i][5].split('-')[0]) > parseInt(df.data[i][5].split('-')[1])) {
                    $('#D1').css('background-color', style_winner)
                    $('#C2').css('background-color', style_looser)
                } else {
                    $('#D1').css('background-color', style_looser)
                    $('#C2').css('background-color', style_winner)
                }
                $('#D1').css('padding', '10px')
                $('#C2').css('padding', '10px')
            }

            if (df.data[i][0] == 'GAF5') {
                $('#E1').html($('#E1').html() + df.data[i][5].split('-')[0])
                $('#F2').html($('#F2').html() + df.data[i][5].split('-')[1])
                if (parseInt(df.data[i][5].split('-')[0]) > parseInt(df.data[i][5].split('-')[1])) {
                    $('#E1').css('background-color', style_winner)
                    $('#F2').css('background-color', style_looser)
                } else {
                    $('#E1').css('background-color', style_looser)
                    $('#F2').css('background-color', style_winner)
                }
                $('#E1').css('padding', '10px')
                $('#F2').css('padding', '10px')
            }
            if (df.data[i][0] == 'GAF6') {
                $('#G1').html($('#G1').html() + df.data[i][5].split('-')[0])
                $('#h2').html($('#h2').html() + df.data[i][5].split('-')[1])
                if (parseInt(df.data[i][5].split('-')[0]) > parseInt(df.data[i][5].split('-')[1])) {
                    $('#G1').css('background-color', style_winner)
                    $('#h2').css('background-color', style_looser)
                } else {
                    $('#G1').css('background-color', style_looser)
                    $('#h2').css('background-color', style_winner)
                }
                $('#G1').css('padding', '10px')
                $('#h2').css('padding', '10px')
            }
            if (df.data[i][0] == 'GAF7') {
                $('#F1').html($('#F1').html() + ' ' + df.data[i][5].split('-')[0])
                $('#E2').html($('#E2').html() + ' ' + df.data[i][5].split('-')[1])
                if (parseInt(df.data[i][5].split('-')[0]) > parseInt(df.data[i][5].split('-')[1])) {
                    $('#F1').css('background-color', style_winner)
                    $('#E2').css('background-color', style_looser)
                } else {
                    $('#F1').css('background-color', style_looser)
                    $('#E2').css('background-color', style_winner)
                }
                $('#F1').css('padding', '10px')
                $('#E2').css('padding', '10px')
            }
            if (df.data[i][0] == 'GAF8') {
                $('#H1').html($('#H1').html() + ' ' + df.data[i][5].split('-')[0])
                $('#g2').html($('#g2').html() + ' ' + df.data[i][5].split('-')[1])
                if (parseInt(df.data[i][5].split('-')[0]) > parseInt(df.data[i][5].split('-')[1])) {
                    $('#H1').css('background-color', style_winner)
                    $('#g2').css('background-color', style_looser)
                } else {
                    $('#H1').css('background-color', style_looser)
                    $('#g2').css('background-color', style_winner)
                }
                $('#H1').css('padding', '10px')
                $('#g2').css('padding', '10px')
            }



            if (df.data[i][0] == 'GQF1'){
                $('#WA1B2').html('' + df.data[i][2] + '<img src="/static/img/' + df.data[i][2] + '.png" width="50" height="25" style="padding-left: 5px; padding-right: 5px">' + df.data[i][5].split('-')[0]);
                $('#WC1D2').html('' + df.data[i][3] + '<img src="/static/img/' + df.data[i][3] + '.png" width="50" height="25" style="padding-left: 5px; padding-right: 5px">' + df.data[i][5].split('-')[1]);
                if (parseInt(df.data[i][5].split('-')[0]) > parseInt(df.data[i][5].split('-')[1])) {
                    $('#WA1B2').css('background-color', style_winner)
                    $('#WC1D2').css('background-color', style_looser)
                } else {
                    $('#WA1B2').css('background-color', style_looser)
                    $('#WC1D2').css('background-color', style_winner)
                }
                $('#WA1B2').css('padding', '10px')
                $('#WC1D2').css('padding', '10px')
            }

            if (df.data[i][0] == 'GQF2'){
                $('#WG1H2').html('' + df.data[i][2] + '<img src="/static/img/' + df.data[i][2] + '.png" width="50" height="25" style="padding-left: 5px; padding-right: 5px">' + df.data[i][5].split('-')[0]);
                $('#WE1F2').html('' + df.data[i][3] + '<img src="/static/img/' + df.data[i][3] + '.png" width="50" height="25" style="padding-left: 5px; padding-right: 5px">' + df.data[i][5].split('-')[1]);
                if (parseInt(df.data[i][5].split('-')[0]) > parseInt(df.data[i][5].split('-')[1])) {
                    $('#WG1H2').css('background-color', style_winner)
                    $('#WE1F2').css('background-color', style_looser)
                } else {
                    $('#WG1H2').css('background-color', style_looser)
                    $('#WE1F2').css('background-color', style_winner)
                }
                $('#WG1H2').css('padding', '10px')
                $('#WE1F2').css('padding', '10px')
            }     
            
            if (df.data[i][0] == 'GQF4'){
                $('#WB1A2').html('' + '<img src="/static/img/' + df.data[i][2] + '.png" width="50" height="25" style="padding-left: 5px; padding-right: 5px">'+ df.data[i][2]  + ' ' + df.data[i][5].split('-')[0]);
                $('#WD1C2').html('' + '<img src="/static/img/' + df.data[i][3] + '.png" width="50" height="25" style="padding-left: 5px; padding-right: 5px">'+ df.data[i][3]  + ' ' + df.data[i][5].split('-')[1]);
                if (parseInt(df.data[i][5].split('-')[0]) > parseInt(df.data[i][5].split('-')[1])) {
                    $('#WB1A2').css('background-color', style_winner)
                    $('#WD1C2').css('background-color', style_looser)
                } else {
                    $('#WB1A2').css('background-color', style_looser)
                    $('#WD1C2').css('background-color', style_winner)
                }
                $('#WB1A2').css('padding', '10px')
                $('#WD1C2').css('padding', '10px')
            }

            if (df.data[i][0] == 'GQF3'){
                $('#WH1G2').html('' + '<img src="/static/img/' + df.data[i][2] + '.png" width="50" height="25" style="padding-left: 5px; padding-right: 5px">' + df.data[i][2]  + ' ' + df.data[i][5].split('-')[0]);
                $('#WF1E2').html('' + '<img src="/static/img/' + df.data[i][3] + '.png" width="50" height="25" style="padding-left: 5px; padding-right: 5px">' + df.data[i][3]  + ' ' + df.data[i][5].split('-')[1]);
                if (parseInt(df.data[i][5].split('-')[0]) > parseInt(df.data[i][5].split('-')[1])) {
                    $('#WH1G2').css('background-color', style_winner)
                    $('#WF1E2').css('background-color', style_looser)
                } else {
                    $('#WH1G2').css('background-color', style_looser)
                    $('#WF1E2').css('background-color', style_winner)
                }
                $('#WH1G2').css('padding', '10px')
                $('#WF1E2').css('padding', '10px')
            }

            if (df.data[i][0] == 'GSF1'){
                $('#SEMI3').html('' + df.data[i][2] + '<img src="/static/img/' + df.data[i][2] + '.png" width="50" height="25" style="padding-left: 5px; padding-right: 5px">' + df.data[i][5].split('-')[1]);
                $('#SEM1').html('' + df.data[i][3] + '<img src="/static/img/' + df.data[i][3] + '.png" width="50" height="25" style="padding-left: 5px; padding-right: 5px">' + df.data[i][5].split('-')[0]);
                if (parseInt(df.data[i][5].split('-')[0]) > parseInt(df.data[i][5].split('-')[1])) {
                    $('#SEM1').css('background-color', style_winner)
                    $('#SEMI3').css('background-color', style_looser)
                } else {
                    $('#SEM1').css('background-color', style_looser)
                    $('#SEMI3').css('background-color', style_winner)
                }
                $('#SEM1').css('padding', '10px')
                $('#SEMI3').css('padding', '10px')
            }  
            if (df.data[i][0] == 'GSF2'){
                $('#sem2').html('' + '<img src="/static/img/' + df.data[i][2] + '.png" width="50" height="25">' + df.data[i][2]  + ' ' + df.data[i][5].split('-')[1]);
                $('#SEMI4').html('' + '<img src="/static/img/' + df.data[i][3] + '.png" width="50" height="25">'+ df.data[i][3]  + ' ' + df.data[i][5].split('-')[0]);
                if (parseInt(df.data[i][5].split('-')[0]) > parseInt(df.data[i][5].split('-')[1])) {
                    $('#SEMI4').css('background-color', style_winner)
                    $('#sem2').css('background-color', style_looser)
                } else {
                    $('#SEMI4').css('background-color', style_looser)
                    $('#sem2').css('background-color', style_winner)
                }
                $('#SEMI4').css('padding', '10px')
                $('#sem2').css('padding', '10px')
            }

            if (df.data[i][0] == 'GFN1'){
                $('#FINAL1').html('' + df.data[i][2] + '<img src="/static/img/' + df.data[i][2] + '.png" width="50" height="25" style="padding-left: 5px; padding-right: 5px">' + df.data[i][5].split('-')[0]);
                $('#FINAL2').html('' + '<img src="/static/img/' + df.data[i][3] + '.png" width="50" height="25" style="padding-left: 5px; padding-right: 5px">' + df.data[i][3] + ' ' + df.data[i][5].split('-')[1]);

                if (parseInt(df.data[i][5].split('-')[0]) > parseInt(df.data[i][5].split('-')[1])) {
                    $('#FINAL1').css('background-color', style_winner);
                    $('#FINAL2').css('background-color', style_looser);

                    $('#WINNER').html('<h2>WINNER</h2></br>' + '<img src="/static/img/' + df.data[i][2] + '.png" width="140" height="75">')
                    
                } else {
                    $('#FINAL1').css('background-color', style_looser);
                    $('#FINAL2').css('background-color', style_winner);
                    $('#WINNER').html('<h2>WINNER</h2></br>' + '<img src="/static/img/' + df.data[i][3] + '.png" width="140" height="75">')
                }

                $('#FINAL1').css('padding', '10px')
                $('#FINAL2').css('padding', '10px')
   
            }
            
        }
        return df;
    };


    

    </script>
{% endblock %}
